html {
    scroll-behavior: smooth;
  }

body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.02em;
}


* {
    box-sizing: border-box;
}
.container{
    width: 1110px;
    margin: 0 auto;

}
ul, li{
	margin: 0;
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: block;
}

a {
	color: #000;
    text-decoration: none;
}

a:hover {
	text-decoration: none;
	
	
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
    
}
img{
	display: block;
	max-width: 100%;
	object-fit: cover;
}
p{
	margin: 0;
    font-weight: 400;
    font-size: 17px;
}
 header {
    padding: 34px 0;
}
.header-fixed{
    position: fixed;
    top: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    width: 100%;
    z-index: 10;
    animation-name: show_header ;
    animation-duration: 0.5s;

}
@keyframes show_header {
    
    0%{
        opacity: 0;
        top: -95px;
    }
    100%{
        opacity: 1;
        top: 0;
    }
    50%{
        opacity: 0.5;
    }
}



.btn{
    font-size: 17px;
    font-weight: 400;
    padding: 22px 45px;
    display: block;
}

.head{
   
    display: flex;
    
}

.logo{
   display: block;
   background: url('../img/logo.svg')no-repeat; 
    width: 140px;
    height: 25px;
}
.head__menu {
	position: relative;
}
.menu{
    display: block;
    margin-left: 140px;
    display: flex;
    
}
.menu__item:not(:last-of-type){
    margin-right: 45px;
}
.menu__link{
    font-weight: 400;
    color: #000;
}
.link__active{
    color: #6E9C9F;
    font-weight: 700;
}
.phone-btn{
    margin-left: 170px;
    margin-right: 9px;
    background: url('../img/phone_icon.png')no-repeat;
    border: none;
    height: 27px;
    width:27px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.phone-btn:hover{
    background: url('../img/phone_icon_hover.svg');
}


/* modal-window */


.modal-window{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    opacity: 1;
    display: block;
    width: 491px;
    height: 503px;
    background-color: #fff;
    text-align: center;
    
}


.overlay{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(110, 156, 159, 0.95);
    opacity: 1;
}

.wrapper-modal{
	width: 100%;
	height: 100vh;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

.wrapper-modal.active{
	display: block;
}
.modal-window__title{
    font-size: 25px;
    font-weight: 500;
    
}
.form-book{
    margin-top: 35px;
    
}
.form-book__input{
    margin: auto;
    display: block;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 35px;
    border: none;
    width: 350px;
    height: 40px;
    border-bottom: 1px solid #000;
    outline: none;
}
.select-btn{
    padding: 22px 112px;
    background-color: #6E9C9F;
    border:none;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    transition: all 0.5s ease;
    cursor: pointer;
    margin: auto;
    
}
.select-btn:hover{
    transition: all 0.5s ease;
    background-color:#509498;
}
.modal-window__close{
    background: url('../img/Close.svg')no-repeat;
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 32px 32px 24px 445px;
}

.modal-window__call{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    opacity: 1;
    display: block;
    width: 600px;
    height: 278px;
    background-color: #fff;
    text-align: center;
    padding: 70px;
    
}

.wrapper-modal__call{
    width: 100%;
	height: 100vh;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
.wrapper-moda__call .active{
    display: block;
}
.call-btn{
    margin: auto;
    color:#6E9C9F;
    border: 1px solid #6E9C9F;
    transition:all 0.5s ease;
    padding: 22px 50px;
    background-color: #fff;
    margin-top: 35px;
    cursor: pointer;
}

.call-btn:hover{
    background-color: #6E9C9F;
    color: #fff;
    transition:all 0.5s ease;
}


.basket{
    margin-left: 67px;
    display: block;
    background: url('../img/basket.png')no-repeat;
    width: 24px;
    height: 24px;
}

.basket-block{
    position: relative;
}
.basket-num{
    display: none;
    position: absolute;
    border-radius: 50%;
    color: #fff;
    width: 15px;
    background: #998E78;
    font-size: 9px;
    justify-content: center;
    align-items: center;
    height: 15px;
    top: -12px;
    left: 86px;
    font-weight: 400;
    text-align: center;
}
.hamburger {
	display: none;
    width: 28px;
}

.hamburger img {
	display: block;
}
.head__menu {
	position: relative;
}

/* OFFER */
.offer{
    padding: 152px 0 255px ;
    display: flex;
}

.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
    width: 560px;
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    width: auto;
	display: flex;
	align-items: flex-start;
}


.slider {
	position: relative;
	width: 560px;
}


.slider .slick-dots{
	display: flex;
	align-items: center;
	
}
.slider .slick-dots li{
	
	margin-right: 42px;
}
.slider .slick-dots button{
    position: absolute;
    margin-top: 245px;
   margin-left: 271px;
	font-size: 0;
	width: 30px;
	height: 4px;
	background-color:  #D1D1D1;
	border: none;
}

.slider .slick-dots li.slick-active button{
	background-color: #000;
    border: none;
}


.slide__title{
    font-size: 55px;
    font-weight: 500;
}
.slide__about{
    text-align: right;
    margin-top: 45px;
    width: 385px;
    font-size: 20px;
    font-weight: 400;
}
.womens{
    z-index: -1;
    width: 43%;
    display: block;
    background-color: #F1EADC;
    height: 826px;
    position: absolute;
    right: 0;
    top: 0;
    
}
.way{
    display: flex;
    margin-left: 90px;
    margin-top: 52px;
}
.arrow-down{
    padding: 19.5px 26px;
    display: block;
    background-color:rgba(110, 156, 159, 0.1);
   
}
.arrow-down__link{
    display: block;
    background: url('../img/arrow-down.png');
    width: 16px;
    height: 29px;
}

.openshop{
    color: #fff;
    background-color: #6E9C9F;
    transition: all 0.5s ease;
}
.openshop:hover{
    background-color:#509498;
}

/* DOTS */






.womens-photo{
    position: relative;
}
.womens__first{
    top: 120px;
    left: 50px;
}
.womens__second{
    top: -400px;
    left: 368px;
}

.womens__third{
    top: -335px;
    left: -80px;
}


/* COLLECTION */

.collection{
    padding-top: 65px;
    
}
.title{
    font-size: 40px;
    font-weight: 500;
}
.collection-products{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 92px;
}
.collection-products_img{
    display: block;

}
.collection-products__title{
    font-weight: 500;
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 7px;
}

.collection-products__price{
    font-size: 15px;
    font-weight: 500;
    color:#998E78;
}

.line-through{
    text-decoration: line-through;
}

.collection__btn{
    width: 243px;
    color:#6E9C9F;
    border: 1px solid #6E9C9F;
    margin:65px  auto;
    transition:all 0.5s ease;
}

.collection__btn:hover{
    background-color: #6E9C9F;
    color: #fff;
    transition:all 0.5s ease;
}
.product{
    justify-content: center;
    max-width: 350px;
}
.product-img{
    display: block;
    position: relative;
	cursor: pointer;
	flex-wrap: wrap;
}
.product-img:after{
	content: url('../img/Vector.svg');
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(110, 156, 159, 0.77);
	opacity: 0;
	justify-content: center;
	display: flex;
	align-items: center;
	transition: all 0.5s ease;
}
.product-img:hover:after{
	opacity: 1;
	transition: all 0.5s ease;
}

/* IMPORTANT */

.important{
    padding: 65px 0;
}

.requirements{
    display: flex;
    justify-content: space-between;
    margin-top: 92px;

}
.requirements-block{
    width: 350px;
}
.requirements-img{
    display: block;
    width: 61px;
    height: 61px;
}
.quality__title{
    margin-top: 37px;
    margin-bottom: 24px;
    font-size: 25px;
    font-weight: 500;
}
.quality__about{
    width: 305px;
    font-weight: 500;
}

/* TEAM */
.team{
    padding: 65px 0 130px;
   
}
/* Ограничивающая оболочка */
.swiper .slick-list {
	overflow: hidden;
    width: 729px;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}


.swiper {
	position: relative;
	padding: 0px 60px;
    width: 729px;
}




.swiper .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -16px -120px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 29px;
	height:16px;
    cursor: pointer;
}
.swiper .slick-arrow.slick-prev{
	left: 0;
	background: url('../img/back.png') 0 0 / 100% no-repeat;
    border: none;
}
.swiper .slick-arrow.slick-next{
	right: 0;
	background: url('../img/next.png') 0 0 / 100% no-repeat;
    border: none;
}
.swiper .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.swiper .slick-dots{
	display: flex;
}

.swiper .slick-dots li{
	margin-right: 42px;
}
.swiper .slick-dots button{
    position: absolute;
    margin-left: 308px;
    margin-top: -61px;
	font-size: 0;
	width: 30px;
	height: 4px;
	background-color: rgba(255, 255, 255, 0.36);;
	border: none;
	
}

.swiper .slick-dots li.slick-active button{
	background-color: #fff;
	
}


.team-flex{
    display: flex;
    margin-left: -61px;
    margin-top: 92px;
    align-items: center;
    
}


.team-about{
    width: 255px;
    margin-left: auto;
}
.team-about__title{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 28px;
}

.team-about__text{
    font-weight: 500;
}
.team-about__text:not(:last-child){
    margin-bottom: 37px;
}

.team-about__link{
    margin-top: 28px;
    color: #6E9C9F;
    transition: all 0.5s ease;
}
.team-about__link:hover{
    transition: all 0.5s ease;
    border-bottom: 1px solid #CEDEDF;
}


/* FOOTER */

.footer{
    padding: 100px 0;
    background-color: #F1EADC ;
    
}
.footer-content{
    display: flex; 
}
.rights-logo{
    margin-bottom: 70px;
}

.rights__text:not(:last-child){
    margin-bottom: 6px;
}

.footer__menu-list{
    margin-left: 81px;
    display: block;
    display: flex;
}
.footer__link{
    font-weight: 400;
    color: #000;
}
.footer__link:hover{
    transition: all 0.5s ease;
    border-bottom: 1px solid #000;
}
.footer-menu__item:not(:last-of-type){
    margin-right: 45px;
}


.shop-product{
    margin-top: 40px;
}

.shop-product__item:not(:last-child){
    margin-bottom: 10px;
}
.shop-product__link{
    font-size: 13px;
}
.footer__contact{
    margin-left: auto;
    width: 160px;
    justify-content: flex-end;
    text-align: right;
}
.footer__email{
    display: block;
    margin-top: 10px;
}
.footer__website{
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}
.footer__website-img:not(:last-child){
    margin-right: 12px;
}
.footer-img{
    display: block;
    margin-left: auto;

}

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
	.container {
		max-width: 960px;
	}

    
    .menu{
        margin-left: 80px;
    }
    .phone-btn{
        margin-left: 80px;
    }
    .womens__second{
        zoom: 0.8;
        top: -500px;
        left: 393px;
    }
    .product{
        width: 310px;
    }
    .swiper .slick-arrow{
        margin: -16px -20px 0px 0px;
    }
    .swiper .slick-list {
        width: 630px;
    }
    .swiper .slick-dots button{
        margin-left: 260px;
    }
}

/* Medium: 768px - 991px */
@media screen and (max-width: 991px) {
	.container {
		max-width: 720px;
	}
	
    .phone-btn{
        margin-left: 250px;
    }
    .hamburger{
        display: block;
        margin-left: 45px;
    }

    .menu__item{
        margin-bottom: 20px;
    }
    .head__menu{
		display: none;
		position: absolute;
		background-color: #F1EADC ;
		width: 156px;
		height: 180px;
		right: 70px;
		top: 95px;
		padding-top: 25px;
	}

    .menu {
		flex-direction: column;
        margin-left: 38px;
	}

    
    .slide__title {
        width: 305px;
        font-size: 30px;
    }
    .slide__about{
        width: 305px;
        font-size: 17px;
    }
    .womens{
        height: 693px;
    }
    .womens__first{
        height: 503px;
    }
    .womens__second {
        height: 192px;
        top: -365px;
        left: 310px;
    }
    .womens__third {
        top: -215px;
        left: -59px;
        height: 249px;
    }
    .way {
       
        margin-left: 8px;
        margin-top: 69px;
    }

    .slider .slick-dots button {
     
        margin-top: 245px;
        margin-left: 183px;
       
    }

    .slick-list {
        width: 350px;
     
    }

    .product{
        width: 235px;
    }
    .title{
        font-size: 28px;
    }
    .requirements{
        display: flex;
        flex-wrap: wrap;
    }
    .requirements-responsibility{
        margin-top: 30px;
    }
    .team-flex{
        display: flex;
        flex-wrap: wrap;
        margin-left: 0;
    }
    .team-about{
        width: 660px;
        margin-top: 45px;
    }
    .team-about__text:not(:last-child){
        margin-bottom: 20px;
    }
    .footer-menu__item{
        font-size: 16px;
    }
    .footer-menu__item:not(:last-of-type){
        margin-right: 30px;
    }
    .footer-menu__item {
        font-size: 15px;
        width: 71px;
    }
    .footer-content{
        display: flex;
        flex-wrap:wrap;
    }
    .footer__menu-list{
        margin-left: 80px;
    }
    .footer__contact{
        margin: 0;
        margin-top: 30px;
    }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
	.container {
		max-width: 540px;
	}
	.tel{
        display: none;
    }
    .basket{
        margin-left: 30px;
    }
    .basket-num{
        left: 48px;
    }
    .phone-btn{
        margin-left: auto;
    }
    .womens{
        width: 67%;
    }
    .slider{
      margin-top: 500px;
    }
    .slick-list {
        width: 450px;
        margin-left: auto;
    }
    .way{
        width: 310px;
        margin: 40px auto;
    }
    .offer{
        padding-bottom: 90px;
    }
    
    .slider .slick-dots button {
        margin-left: 220px;
        margin-top: 170px;  
    }
    .collection-products{
        display: flex;
        flex-wrap: wrap;
    }
    .collection-products-third{
        margin-top: 30px;
    }
    .requirements-block{
        width: 200px;
    }
    .quality__title{
        font-size: 20px;
    }
    .quality__about{
        font-size: 15px;
        width: 220px;
    }
    .swiper .slick-list {
        width: 500px;
    }
    .swiper .slick-arrow{
        margin: -10px -46px 47px 38px;
    }
    .swiper {
        padding: 0px 11px;
        margin-left: -68px;
    }
    .team-about__title{
        font-size: 20px;
    }
    .team-about__text{
        font-size: 15px;
    }
    .footer-content{
        justify-content: center;
    }
    .rights-logo{
        margin: auto;
        margin-bottom: 15px;
    }
    .rights__text{
        margin: auto;
    }
    .footer__menu{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
	.container {
		padding: 0 15px;
        width: auto;
	}
    .head{
        width: auto;
    }
	.basket {
        margin-left: 1px;
        margin-right: -34px;
    }
    .womens__first{
        height: 310px;
        top: 90px;
        left: -20px;
    }
    .womens__second {
        height: 116px;
        top: -193px;
        left: 146px;
    }
    .womens__third {
        top: -102px;
        left: -75px;
        height: 181px;
    }
    .womens {
        height: 483px;
    }
    .slider{
        margin-top: 300px;
        width: 280px;
      
      }
      .slick-list {
          width: 280px;
          margin-left: auto;
      }
      .slide__title {
          font-size: 22px;
          width: 245px;
      }

      .slide__about{
          width: 245px;
      }
      .slider .slick-dots button {
        margin-left: 90px;
        margin-top: 180px;  
    }
    .slider .slick-slide{
        width: auto;
    }
    .way{
       margin: 40px 0;
    }
    .basket-num{
        left: 19px;
    }
    
    .hamburger{
        margin-right: 0;
    }
    .offer{
        width: auto;
    }
    .btn{
        font-size: 15px;
        width: 235px;
    }
    .openshop{
        width: 216px;
    }
    .collection-products{
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
    }
    .product{
        margin-bottom: 20px;
    }
    .collection-products-third{
        margin-top: 0px;
    }
    .requirements{
       align-items: center;
       flex-direction: column;
        margin-top: 30px;
    }
    .requirements-block{
        margin-bottom: 20px;
    }
    .requirements-responsibility{
        margin-top: 0;
    }
    .swiper .slick-list {
        width: auto;
    }
    
    .swiper .slick-dots button{
        margin-left: 85px;
    }
    .swiper {
        width: auto;
        margin: 0;
        padding: 0;
    }
    .footer__menu-list{
        flex-direction: column;
    }
    .footer-menu__item:not(:last-of-type){
        margin-bottom: 25px;
    }
    .shop-product{
        margin-top: 10px;
    }
    .team-about{
        width: auto;
    }
    .footer-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
    .rights__text{
        font-size: 12px;
    }
    
    
}
