html {
    scroll-behavior: smooth;
  }

body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.02em;
}


* {
    box-sizing: border-box;
}
.container{
    width: 1110px;
    margin: 0 auto;

}
ul, li{
	margin: 0;
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: block;
}

a {
	color: #000;
    text-decoration: none;
}

a:hover {
	text-decoration: none;
	
	
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
    
}
img{
	display: block;
	max-width: 100%;
	object-fit: cover;
}
p{
	margin: 0;
    font-weight: 400;
    font-size: 17px;
}
 header {
    padding: 34px 0;
}
.header-fixed{
    position: fixed;
    top: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    width: 100%;
    z-index: 10;
    animation-name: show_header ;
    animation-duration: 0.5s;

}
@keyframes show_header {
    
    0%{
        opacity: 0;
        top: -95px;
    }
    100%{
        opacity: 1;
        top: 0;
    }
    50%{
        opacity: 0.5;
    }
}



.btn{
    font-size: 17px;
    font-weight: 400;
    padding: 22px 45px;
    display: block;
}

.head{
   
    display: flex;
    
}

.logo{
   display: block;
   background: url('../img/logo.svg')no-repeat; 
    width: 140px;
    height: 25px;
}

.menu{
    display: block;
    margin-left: 140px;
    display: flex;
    
}
.menu__item:not(:last-of-type){
    margin-right: 45px;
}
.menu__link{
    font-weight: 400;
    color: #000;
}
.link__active{
    color: #6E9C9F;
    font-weight: 700;
}
.phone-btn{
    margin-left: 170px;
    margin-right: 9px;
    background: url('../img/phone_icon.png')no-repeat;
    border: none;
    height: 27px;
    width:27px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.phone-btn:hover{
    background: url('../img/phone_icon_hover.svg');
}


/* modal-window */


.modal-window{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    opacity: 1;
    display: block;
    width: 491px;
    height: 503px;
    background-color: #fff;
    text-align: center;
    
}


.overlay{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(110, 156, 159, 0.95);
    opacity: 1;
}

.wrapper-modal{
	width: 100%;
	height: 100vh;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

.wrapper-modal.active{
	display: block;
}
.modal-window__title{
    font-size: 25px;
    font-weight: 500;
    
}
.form-book{
    margin-top: 35px;
    
}
.form-book__input{
    margin: auto;
    display: block;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 35px;
    border: none;
    width: 350px;
    height: 40px;
    border-bottom: 1px solid #000;
    outline: none;
}
.select-btn{
    padding: 22px 112px;
    background-color: #6E9C9F;
    border:none;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    transition: all 0.5s ease;
    cursor: pointer;
    margin: auto;
    
}
.select-btn:hover{
    transition: all 0.5s ease;
    background-color:#509498;
}
.modal-window__close{
    background: url('../img/Close.svg')no-repeat;
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 32px 32px 24px 445px;
}

.modal-window__call{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    opacity: 1;
    display: block;
    width: 600px;
    height: 278px;
    background-color: #fff;
    text-align: center;
    padding: 70px;
    
}

.wrapper-modal__call{
    width: 100%;
	height: 100vh;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
.wrapper-moda__call .active{
    display: block;
}
.call-btn{
    margin: auto;
    color:#6E9C9F;
    border: 1px solid #6E9C9F;
    transition:all 0.5s ease;
    padding: 22px 50px;
    background-color: #fff;
    margin-top: 35px;
    cursor: pointer;
}

.call-btn:hover{
    background-color: #6E9C9F;
    color: #fff;
    transition:all 0.5s ease;
}


.basket{
    margin-left: 67px;
    display: block;
    background: url('../img/basket.png')no-repeat;
    width: 24px;
    height: 24px;
}
.basket-block{
    position: relative;
}
.basket-num{
    display: none;
    position: absolute;
    border-radius: 50%;
    color: #fff;
    width: 15px;
    background: #998E78;
    font-size: 9px;
    justify-content: center;
    align-items: center;
    height: 15px;
    top: -12px;
    left: 86px;
    font-weight: 400;
    text-align: center;
}
.hamburger {
	display: none;
    width: 28px;
}

.hamburger img {
	display: block;
}
        
/* TOP */
    .top{
        padding: 156px 0 107px;
    }


    .top-title{
        font-weight: 500;
        font-size: 55px;
    }


    /* breadcrumb */
    .breadcrumb{
        margin-top: 26px;
    }
    .breadcrumb-item {
        display: inline;
        font-size: 17px;
        font-weight: 500;
        position: relative;
    margin-right: 13px;
        color: #909090;
    }
    
    
    ul.breadcrumb li+li:before {
        display: block;
        background-color: black;
        content: "";
        width: 14px;
        height: 2px;
        position: absolute;
        left: 0px;
        top: 10px;
    }
    
    
    .breadcrumb__link {
        color: #000;
        text-decoration: none;

    }
    
    .breadcrumb-item:not(:nth-of-type(1)){
        padding-left: 27px;
    }
 

/* PRODUCTS */
  
  .products{
      padding: 107px 0 130px;
  }
    .sorting-btn{
        display: none;
        padding: 19px 65px;
        background-color: #fff;
        border: 1px solid #000000;
        font-size: 17px;
        font-weight: 500;
        cursor: pointer;
    }
    .sorting{
        display: flex;
    }

    .sorting-item__btn{
        display: block;
        padding: 19px 65px;
        background-color: #fff;
        border:1px solid #000000;
        font-size: 17px;
        font-weight: 500;
        cursor: pointer;
    }

    .sorting-item:not(:last-child){
        margin-right: 10px;
    }

    .sorting-item__btn.active{
        background-color: #000;
        color: #fff;

    }

    .products-sum{
        color: #808080;
        font-weight: 500;
        font-size: 17px;
        margin-top: 92px;
        
    }


    .collection-products{
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .collection-products_img{
        display: block;
    
    }
    .collection-products__title{
        font-weight: 500;
        font-size: 20px;
        margin-top: 24px;
        margin-bottom: 7px;
    }
    
    .collection-products__price{
        font-size: 15px;
        font-weight: 500;
        color:#998E78;
    }
    
    .line-through{
        text-decoration: line-through;
    }

    .product{
        margin-top: 65px;
        max-width: 350px;
       
    }

    .product-img{
        display: block;
        position: relative;
        cursor: pointer;
        flex-wrap: wrap;
    }
    .product-img:after{
        content: url('../img/Vector.svg');
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(110, 156, 159, 0.77);
        opacity: 0;
        justify-content: center;
        display: flex;
        align-items: center;
        transition: all 0.5s ease;
    }
    .product-img:hover:after{
        opacity: 1;
        transition: all 0.5s ease;
    }
    
    .sum__second{
        margin-top: 65px;
    }

    .products-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 65px;
    }
    .products-btn__page{
        display: block;
        width: 41px;
        height: 41px;
        background-color: #fff;
        border: 1px solid #000000;
        color: #000;
        font-size: 17px;
        font-weight: 500;
        cursor: pointer;
    }
    .products-btn__page:not(:last-child){
        margin-right: 14px;
    }

    .page3{
        border: none;
        background: url('../img/next.svg')no-repeat;
        width: 21px;
        height: 11px;
        justify-content: center;
        align-items: center;
    }

    .page-active{
        background-color: #000;
        color: #fff;
    }



/* FOOTER */

.footer{
    padding: 100px 0;
    background-color: #F1EADC ;
    
}
.footer-content{
    display: flex; 
}
.rights-logo{
    margin-bottom: 70px;
}

.rights__text:not(:last-child){
    margin-bottom: 6px;
}

.footer__menu-list{
    margin-left: 81px;
    display: block;
    display: flex;
}
.footer__link{
    font-weight: 400;
    color: #000;
}
.footer__link:hover{
    transition: all 0.5s ease;
    border-bottom: 1px solid #000;
}
.footer-menu__item:not(:last-of-type){
    margin-right: 45px;
}


.shop-product{
    margin-top: 40px;
}

.shop-product__item:not(:last-child){
    margin-bottom: 10px;
}
.shop-product__link{
    font-size: 13px;
}
.footer__contact{
    margin-left: auto;
    width: 160px;
    justify-content: flex-end;
    text-align: right;
}
.footer__email{
    display: block;
    margin-top: 10px;
}
.footer__website{
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}
.footer__website-img:not(:last-child){
    margin-right: 12px;
}
.footer-img{
    display: block;
    margin-left: auto;

}
/* Large: 992px - 1199px */
@media (max-width: 1199px) {
	.container {
		max-width: 960px;
	}

    
    .menu{
        margin-left: 80px;
    }
    .phone-btn{
        margin-left: 80px;
    }
    .about-content__description{
        width: 424px;
    }
    
    .product{
        width: 300px;
    }
    .sorting-item__btn{
        padding: 19px 58px;
    }
}

/* Medium: 768px - 991px */
@media screen and (max-width: 991px) {
	.container {
		max-width: 720px;
	}
	
    .phone-btn{
        margin-left: 250px;
    }
    .hamburger{
        display: block;
        margin-left: 45px;
    }

    .menu__item{
        margin-bottom: 20px;
    }
    .head__menu{
		display: none;
		position: absolute;
		background-color: #F1EADC ;
		width: 156px;
		height: 180px;
		right: 70px;
		top: 95px;
		padding-top: 25px;
	}

    .menu {
		flex-direction: column;
        margin-left: 38px;
	}

    .top{
        padding-bottom: 80px; 
    }
    .products{
        padding-top: 80px;
    }
    .sorting-btn{
        display: block;
        position: relative;
    }
    .sorting-container{
        display: none;
		position: absolute;
		border: 1px solid #000000;
		width: 200px;
        z-index: 3;
    }
    .sorting-item__btn{
        border: none;
        width: 198px;
        padding: 20px;
    }

    .sorting{
        flex-direction: column;
    }

    
    .footer-menu__item{
        font-size: 16px;
    }
    .footer-menu__item:not(:last-of-type){
        margin-right: 30px;
    }
    .footer-menu__item {
        font-size: 15px;
        width: 71px;
    }
    .footer-content{
        display: flex;
        flex-wrap:wrap;
    }
    .footer__menu-list{
        margin-left: 40px;
    }
    .footer__contact{
        margin: 0;
        margin-top: 30px;
    }

}

/* Small: 576px - 767px */
@media (max-width: 767px) {
	.container {
		max-width: 540px;
	}
	
    .basket{
        margin-left: 30px;
    }
    .basket-num{
        left: 48px;
    }
    .phone-btn{
        margin-left: auto;
    }
    .product{
        width: 250px;
    }
    .footer-content{
        justify-content: center;
    }
    .rights-logo{
        margin: auto;
        margin-bottom: 15px;
    }
    .rights__text{
        margin: auto;
    }
    .footer__menu{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
	.container {
		padding: 0 15px;
        width: auto;
	}
    .head{
        width: auto;
    }
	.basket {
        margin-left: 1px;
        margin-right: -34px;
    }
    .basket-num{
        left: 19px;
    }
    .tel{
        display: none;
    }
    .top{
        padding: 100px 0 50px;
    }
    .top-title{
        font-size: 40px;
    }
    .breadcrumb-item{
        font-size: 15px;
    }
    
    .product{
        width: 190px;
        margin: 25px auto;
    }
    .products-sum{
        font-size: 15px;
    }
    .collection-products__title {
        font-size: 17px;
    }
   
    .btn{
        font-size: 15px;
        width: 241px;
    }
   
    .footer__menu-list{
        flex-direction: column;
    }
    .footer-menu__item:not(:last-of-type){
        margin-bottom: 25px;
    }
    .shop-product{
        margin-top: 10px;
    }
    .shop-product__link{
        font-size: 13px;
    }
    .team-about{
        width: auto;
    }
    .footer-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
    .rights__text{
        font-size: 12px;
    }
    
    
}